VITE_PREDICTION_API_URL=https://api.xpoll-predictor.vercel.app
VITE_NETWORK=testnet
VITE_RPC_URL=https://soroban-testnet.stellar.org
VITE_ORACLE_ADDRESS=CCMFDN5NULZ4NNQC7JEPHFJBNAVP4SWVNTDDPYNBJEYZAVDW73A6Z32W
VITE_PREDICTION_ADDRESS=CAJDJSF6MADCT76UX572H7X4PFPBPHW22F2MNZ7ARAOLENPBYABOHY63
VITE_REWARDS_ADDRESS=CCXFPKYSLQYEG27NYV722GFWYCVLNXRJ5SBW6KC2QE5LJILQR7HKXVY3
