VITE_PREDICTION_API_URL=https://api.xpoll-predictor.vercel.app
VITE_NETWORK=testnet
VITE_RPC_URL=https://soroban-testnet.stellar.org
VITE_ORACLE_ADDRESS=CDXDPKE2CKZGGHNYPXQU3LAIIBXSLVWONQBP3Y4A4KOAV3ZUILL33ZRG
VITE_PREDICTION_ADDRESS=CDFNCCUHTU3Q2RA4DZQTHONISD32CNTVJ6KKYJFAIENOER7V7DYVQGQA
VITE_REWARDS_ADDRESS=CBT6BPI6DE2VBIP26XTYGTVLDHYNFB67PPZVHRIJKFHBF33ZYN4PB6CD
